<h1 class="text-center">Posts</h1>
<div align="center" class="digg_pagination">
  <%= will_paginate %>
</div>
<% @posts.each do |post| %>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="well well-lg">
          <h2><%= link_to post.title, post_path(post), class: 'post-title' %></h2>
          <p><%= truncate(post.body, length: 100) %></p>
          <hr />
          <%= render 'shared/meta', obj: post %>
        </div>
      </div>
    </div>
<% end %>
<div align="center" class="digg_pagination">
  <%= will_paginate %>
</div>