<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BrivBoard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/nav' %>
<div class="container">
  <!--Setup for devise, I'll hook these up to the shared partials later-->
  <%= render 'shared/notice' %>
  <%= render 'shared/alert' %>
  <%= yield %>
  <%= render 'layouts/footer' %>
</div>

</body>
</html>
